Repository MessiInter/qr-code-gen: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --write

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

Update .github/workflows/deploy.yml, docs-preview.sh and 2 more
  .github/workflows/deploy.yml
  docs-preview.sh
  package.json
  predeploy.sh
Due: eslint --cache --fix, prettier --cache --write

Update docs-preview.sh
  docs-preview.sh
Due: none

Add CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --cache --write

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --cache --write

Remove/update .prettierignore, .vscode/extensions.json and 2 more
  .prettierignore
  .vscode/extensions.json
  .vscode/settings.json
  predeploy.sh
Due: eslint --cache --fix, prettier --cache --write

Update .devcontainer/Dockerfile, .devcontainer/devcontainer.json and 3 more
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --cache --write

Update package.json
  .devcontainer/Dockerfile
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --cache --write

Add pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Add .github/dependabot.yml
  .github/dependabot.yml
Due: none

Update .devcontainer/devcontainer.json, .eslintignore and 10 more
  .devcontainer/devcontainer.json
  .eslintignore
  .eslintrc.base.json
  .github/dependabot.yml
  .github/workflows/deploy.yml
  .prettierignore
  .vscode/settings.json
  CODE_OF_CONDUCT.md
  SECURITY.md
  docs/api-examples.md
  docs/index.md
  package.json
Due: eslint --cache --fix, prettier --cache --write

Path conditions:
  stylelint --allow-empty-input --cache --fix: (any of: *.css) or (any of: *.{css,sass,scss})
  eslint --cache --fix: (any of: *.{js,ts,mjs,html}) or (any of: *.{js,ts,cjs,mjs,jsx,tsx,html,json})
  prettier --cache --write: (any of: *.{js,ts,mjs,html,css,md,json}) or (any of: *.{js,ts,cjs,mjs,jsx,tsx,html,css,sass,scss,md,mdx,json})
