Repository MessiInter/qr-code-gen: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --write

.lintstagedrc:

{
  "*.css": "stylelint --allow-empty-input --cache --fix",
  "*.{js,ts,mjs,html}": "eslint --cache --fix",
  "*.{js,ts,mjs,html,css,md,json}": "prettier --cache --write"
}

.lintstagedrc.json:

{
  "*.{css,sass,scss}": "stylelint --allow-empty-input --cache --fix",
  "*.{js,ts,cjs,mjs,jsx,tsx,html,json}": "eslint --cache --fix",
  "*.{js,ts,cjs,mjs,jsx,tsx,html,css,sass,scss,md,mdx,json}": "prettier --cache --write"
}

Update src/app/services/file/file.service.spec.ts, src/app/services/file/file.service.ts and 4 more
  src/app/services/file/file.service.spec.ts
  src/app/services/file/file.service.ts
  src/app/services/img/img.service.spec.ts
  src/app/services/img/img.service.ts
  src/app/services/url/url.service.spec.ts
  src/app/services/url/url.service.ts
Due: eslint --cache --fix, prettier --cache --write

Update src/app/types/element-type.ts
  src/app/types/element-type.ts
Due: eslint --cache --fix, prettier --cache --write

Update src/environments/environment.development.ts and src/environments/environment.ts
  src/environments/environment.development.ts
  src/environments/environment.ts
Due: eslint --cache --fix, prettier --cache --write

Update src/get-jest-projects.ts
  src/get-jest-projects.ts
Due: eslint --cache --fix, prettier --cache --write

Update .prettierrc.js, commitlint.config.ts and 5 more
  .prettierrc.js
  commitlint.config.ts
  jest.config.app.ts
  jest.config.ts
  jest.preset.js
  server.ts
  src/get-jest-projects.ts
Due: eslint --cache --fix, prettier --cache --write

Update e2e/src/e2e/header/header.cy.ts
  e2e/src/e2e/header/header.cy.ts
Due: eslint --cache --fix, prettier --cache --write

Add/remove/update patches/.gitignore, patches/@nx__jest@17.1.3.patch and 11 more
  .eslintignore
  .eslintrc.app.json
  .eslintrc.base.json
  .eslintrc.spec.json
  .prettierignore
  .stylelintignore
  e2e/.eslintrc.json
  jest.config.ts
  package.json
  patches/.gitignore
  patches/@nx__jest@17.1.3.patch
  pnpm-lock.yaml
  src/get-jest-projects.ts
Due: eslint --cache --fix, prettier --cache --write

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: prettier --cache --write

Create AUTHORS.txt
  AUTHORS.txt
Due: none

Create CONTRIBUTORS.txt
  CONTRIBUTORS.txt
Due: none

Create SECURITY.md
  SECURITY.md
Due: prettier --cache --write

Create SUPPORT.md
  SUPPORT.md
Due: prettier --cache --write

Update .eslintrc.base.json and package.json
  .eslintrc.base.json
  package.json
Due: eslint --cache --fix, prettier --cache --write

Add/update commitlint.config.app.ts, commitlint.config.ts and 1 more
  commitlint.config.app.ts
  commitlint.config.ts
  lib/commit-msg.mjs
Due: eslint --cache --fix, prettier --cache --write

Update lib/commit-msg.mjs
  lib/commit-msg.mjs
Due: eslint --cache --fix, prettier --cache --write

Add CODEOWNERS
  CODEOWNERS
Due: none

Update CODEOWNERS
  CODEOWNERS
Due: none

Update package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --cache --write

Add/update docs/.vitepress/.gitignore, docs/.vitepress/config.mts and 4 more
  docs/.vitepress/.gitignore
  docs/.vitepress/config.mts
  docs/api-examples.md
  docs/index.md
  docs/markdown-examples.md
  package.json
Due: eslint --cache --fix, prettier --cache --write

Update package.json and predeploy.sh
  package.json
  predeploy.sh
Due: eslint --cache --fix, prettier --cache --write

Add/remove/update .github/deploy.yml, docs-preview.sh and 4 more
  .codesandbox/features.json
  .codesandbox/tasks.json
  .github/deploy.yml
  docs-preview.sh
  docs/.vitepress/config.mts
  predeploy.sh
Due: eslint --cache --fix, prettier --cache --write

Update .eslintrc.base.json, package.json and 1 more
  .eslintrc.base.json
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --cache --write

Update predeploy.sh
  predeploy.sh
Due: none

Add/update docs/.vitepress/.gitignore, docs/.vitepress/config.mts and 9 more
  .eslintignore
  .eslintrc.app.json
  .eslintrc.base.json
  .eslintrc.json
  docs/.vitepress/.gitignore
  docs/.vitepress/config.mts
  docs/api-examples.md
  docs/index.md
  docs/markdown-examples.md
  e2e/.eslintrc.json
  package.json
Due: eslint --cache --fix, prettier --cache --write

Add/update docs/404.html, docs/api-examples.html and 31 more
  .eslintignore
  .vscode/settings.json
  docs/.vitepress/config.mts
  docs/404.html
  docs/api-examples.html
  docs/assets/api-examples.md.6s4oCUSt.js
  docs/assets/api-examples.md.6s4oCUSt.lean.js
  docs/assets/app.CwNP7rag.js
  docs/assets/chunks/framework.C5PNjJpL.js
  docs/assets/chunks/theme.Dub9_tPl.js
  docs/assets/index.md.B3xLdQcR.js
  docs/assets/index.md.B3xLdQcR.lean.js
  docs/assets/inter-italic-cyrillic-ext.5XJwZIOp.woff2
  docs/assets/inter-italic-cyrillic.D6csxwjC.woff2
  docs/assets/inter-italic-greek-ext.CHOfFY1k.woff2
  docs/assets/inter-italic-greek.9J96vYpw.woff2
  docs/assets/inter-italic-latin-ext.BGcWXLrn.woff2
  docs/assets/inter-italic-latin.DbsTr1gm.woff2
  docs/assets/inter-italic-vietnamese.DHNAd7Wr.woff2
  docs/assets/inter-roman-cyrillic-ext.DxP3Awbn.woff2
  docs/assets/inter-roman-cyrillic.CMhn1ESj.woff2
  docs/assets/inter-roman-greek-ext.D0mI3NpI.woff2
  docs/assets/inter-roman-greek.JvnBZ4YD.woff2
  docs/assets/inter-roman-latin-ext.ZlYT4o7i.woff2
  docs/assets/inter-roman-latin.Bu8hRsVA.woff2
  docs/assets/inter-roman-vietnamese.ClpjcLMQ.woff2
  docs/assets/markdown-examples.md.BTI2ktOc.js
  docs/assets/markdown-examples.md.BTI2ktOc.lean.js
  docs/assets/style.B8kcKHAO.css
  docs/hashmap.json
  docs/index.html
  docs/markdown-examples.html
  predeploy.sh
Due: stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --write

Update docs/404.html, docs/api-examples.html and 4 more
  docs/404.html
  docs/api-examples.html
  docs/hashmap.json
  docs/index.html
  docs/markdown-examples.html
  predeploy.sh
Due: eslint --cache --fix, prettier --cache --write

Update .devcontainer/Dockerfile, docs/.vitepress/config.mts and 6 more
  .devcontainer/Dockerfile
  docs/.vitepress/config.mts
  docs/404.html
  docs/api-examples.html
  docs/hashmap.json
  docs/index.html
  docs/markdown-examples.html
  predeploy.sh
Due: eslint --cache --fix, prettier --cache --write

Add/remove/update .github/workflows/deploy.yml, docs/.vitepress/config.mts and 2 more
  .codesandbox/features.json
  .github/workflows/deploy.yml
  docs/.vitepress/config.mts
  predeploy.sh
Due: eslint --cache --fix, prettier --cache --write

Add docs-preview.sh
  docs-preview.sh
Due: none
