Repository MessiInter/qr-code-gen: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --write

Update e2e/.eslintrc.json, e2e/src/e2e/app.cy.ts and 10 more
  e2e/.eslintrc.json
  e2e/src/e2e/app.cy.ts
  e2e/src/support/commands.ts
  jest.config.ts
  package.json
  pnpm-lock.yaml
  src/app/app.component.spec.ts
  src/app/components/header/header.component.spec.ts
  src/app/services/file/file.service.spec.ts
  src/app/services/img/img.service.spec.ts
  src/app/services/url/url.service.spec.ts
  src/test-setup.ts
Due: eslint --cache --fix, prettier --cache --write

Add/update e2e/.gitignore, e2e/src/e2e/app.cy.ts and 2 more
  e2e/.gitignore
  e2e/src/e2e/app.cy.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --cache --write

Update e2e/src/e2e/app.cy.ts, package.json and 2 more
  e2e/src/e2e/app.cy.ts
  package.json
  pnpm-lock.yaml
  src/app/app.component.html
Due: eslint --cache --fix, prettier --cache --write

Add/remove/update .editorconfig, .prettierrc.js and 33 more
  .editorconfig
  .eslintignore
  .eslintrc.json
  .gitignore
  .prettierignore
  .prettierrc
  .prettierrc.js
  bin/commit-status.mjs
  e2e/cypress.config.ts
  e2e/src/e2e/app.cy.ts
  e2e/src/support/commands.ts
  jest.preset.js
  lib/__dirname.mjs
  lib/__root.mjs
  lib/branch.mjs
  lib/commit-msg.mjs
  package.json
  pnpm-lock.yaml
  server.ts
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.config.server.ts
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/components/header/header.component.spec.ts
  src/app/components/header/header.component.ts
  src/app/interfaces/qrc-element.ts
  src/app/services/file/file.service.spec.ts
  src/app/services/file/file.service.ts
  src/app/services/img/img.service.spec.ts
  src/app/services/img/img.service.ts
  src/app/services/url/url.service.spec.ts
  src/app/services/url/url.service.ts
  src/main.server.ts
  src/main.ts
Due: eslint --cache --fix, prettier --cache --write

Add/update .codesandbox/features.json, .eslintrc.app.json and 19 more
  .codesandbox/features.json
  .devcontainer/Dockerfile
  .eslintignore
  .eslintrc.app.json
  .eslintrc.json
  .lintstagedrc.json
  .stylelintignore
  bin/commit-status.mjs
  e2e/project.json
  e2e/src/e2e/app.cy.ts
  e2e/src/e2e/header/header.cy.ts
  e2e/src/support/app.po.ts
  e2e/src/support/commands.ts
  lib/__root.mjs
  lib/commit-msg.mjs
  package.json
  pnpm-lock.yaml
  project.json
  src/app/app.component.spec.ts
  src/app/services/file/file.service.spec.ts
  src/app/services/img/img.service.spec.ts
  src/app/services/url/url.service.spec.ts
Due: eslint --cache --fix, prettier --cache --write

Add/update tsconfig.base.json, project.json and 1 more
  project.json
  tsconfig.base.json
  tsconfig.json
Due: prettier --cache --write

Add/update jest.config.app.ts, .eslintignore and 5 more
  .eslintignore
  .eslintrc.json
  jest.config.app.ts
  jest.config.ts
  pnpm-lock.yaml
  project.json
Due: eslint --cache --fix, prettier --cache --write

Add/update .eslintrc.base.json, .eslintrc.spec.json and 14 more
  .editorconfig
  .eslintignore
  .eslintrc.app.json
  .eslintrc.base.json
  .eslintrc.json
  .eslintrc.spec.json
  .lintstagedrc.json
  .prettierignore
  .stylelintignore
  .stylelintrc.json
  e2e/.eslintrc.json
  jest.config.ts
  package.json
  pnpm-lock.yaml
  project.json
  src/get-jest-projects.ts
Due: eslint --cache --fix, prettier --cache --write

Remove pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Add/update pnpm-lock.yaml, .eslintignore and 2 more
  .eslintignore
  .prettierignore
  .stylelintignore
  pnpm-lock.yaml
Due: none

Update src/app/app.component.html and src/app/app.component.ts
  src/app/app.component.html
  src/app/app.component.ts
Due: eslint --cache --fix, prettier --cache --write

Update .eslintrc.app.json, .prettierrc.js and 38 more
  .eslintrc.app.json
  .prettierrc.js
  LICENSE.md
  bin/commit-status.mjs
  e2e/cypress.config.ts
  e2e/src/e2e/app.cy.ts
  e2e/src/e2e/header/header.cy.ts
  e2e/src/support/app.po.ts
  e2e/src/support/commands.ts
  e2e/src/support/e2e.ts
  jest.config.app.ts
  jest.config.ts
  jest.preset.js
  lib/__dirname.mjs
  lib/__root.mjs
  lib/branch.mjs
  lib/commit-msg.mjs
  lib/parse-output.mjs
  server.ts
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.config.server.ts
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/components/header/header.component.spec.ts
  src/app/components/header/header.component.ts
  src/app/interfaces/qr-options.ts
  src/app/interfaces/qrc-element.ts
  src/app/services/file/file.service.spec.ts
  src/app/services/file/file.service.ts
  src/app/services/img/img.service.spec.ts
  src/app/services/img/img.service.ts
  src/app/services/url/url.service.spec.ts
  src/app/services/url/url.service.ts
  src/app/types/element-type.ts
  src/environments/environment.development.ts
  src/environments/environment.ts
  src/get-jest-projects.ts
  src/main.server.ts
  src/main.ts
Due: eslint --cache --fix, prettier --cache --write

Update src/app/app.component.spec.ts
  src/app/app.component.spec.ts
Due: eslint --cache --fix, prettier --cache --write

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Update package.json, pnpm-lock.yaml and 1 more
  package.json
  pnpm-lock.yaml
  project.json
Due: prettier --cache --write

Remove/update package.json, project.json and 1 more
  package.json
  pnpm-lock.yaml
  project.json
Due: prettier --cache --write

Add/update src/app/interfaces/environment.ts, .eslintrc.app.json and 9 more
  .eslintrc.app.json
  .husky/pre-commit
  .lintstagedrc.json
  server.ts
  src/app/interfaces/environment.ts
  src/environments/environment.ts
  src/get-jest-projects.ts
  src/main.server.ts
  src/main.ts
  src/test-setup.ts
Due: eslint --cache --fix, prettier --cache --write

Update package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat: Update .stylelintrc.json, update .vscode/extensions.json, update nx.json, update package.json, update project.json, add .stylelintrc.app.json and add .stylelintrc.base.json
  .stylelintrc.app.json
  .stylelintrc.base.json
  .stylelintrc.json
  .vscode/extensions.json
  nx.json
  package.json
  pnpm-lock.yaml
  project.json
Due: prettier --cache --write

Update package.json, pnpm-lock.yaml and 1 more
  bin/commit-and-push.mjs
  package.json
  pnpm-lock.yaml
  project.json
Due: eslint --cache --fix, prettier --cache --write

Add/update bin/commit-msg-checker.js, commitlint.config.js and 3 more
  .prettierignore
  bin/commit-msg-checker.js
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --cache --write

Update commitlint.config.js and package.json
  commitlint.config.js
  package.json
Due: eslint --cache --fix, prettier --cache --write

Add/remove/update .husky/commit-msg, package.json and 1 more
  .husky/commit-msg
  bin/commit-msg-checker.js
  package.json
Due: eslint --cache --fix, prettier --cache --write

Update .husky/commit-msg and commitlint.config.js
  .husky/commit-msg
  commitlint.config.js
Due: eslint --cache --fix, prettier --cache --write

Update .lintstagedrc.json and .prettierrc.js
  .lintstagedrc.json
  .prettierrc.js
  commitlint.config.ts
Due: eslint --cache --fix, prettier --cache --write

Update .eslintrc.app.json, .eslintrc.base.json and 9 more
  .eslintrc.app.json
  .eslintrc.base.json
  README.md
  commitlint.config.ts
  package.json
  pnpm-lock.yaml
  src/app/app.component.ts
  src/app/services/file/file.service.ts
  src/app/services/img/img.service.ts
  src/environments/environment.development.ts
  src/environments/environment.ts
Due: eslint --cache --fix, prettier --cache --write

Add/remove/update deploy.sh, package.json and 18 more
  deploy.sh
  docs/browser/.gitkeep
  docs/server/chunk-4S7LW3SP.mjs
  docs/server/chunk-4S7LW3SP.mjs.map
  docs/server/chunk-5R2CTTCX.mjs
  docs/server/chunk-5R2CTTCX.mjs.map
  docs/server/chunk-REXDUWBJ.mjs
  docs/server/chunk-REXDUWBJ.mjs.map
  docs/server/chunk-W5DLKPNQ.mjs
  docs/server/chunk-W5DLKPNQ.mjs.map
  docs/server/index.server.html
  docs/server/main.server.mjs
  docs/server/main.server.mjs.map
  docs/server/polyfills.server.mjs
  docs/server/polyfills.server.mjs.map
  docs/server/render-utils.server.mjs
  docs/server/render-utils.server.mjs.map
  docs/server/server.mjs
  docs/server/server.mjs.map
  package.json
Due: eslint --cache --fix, prettier --cache --write

Update package.json
  package.json
  predeploy.sh
Due: prettier --cache --write

Add/update postinstall.sh, package.json and 1 more
  package.json
  pnpm-lock.yaml
  postinstall.sh
Due: prettier --cache --write

Update e2e/cypress.config.ts, e2e/src/e2e/app.cy.ts and 4 more
  e2e/cypress.config.ts
  e2e/src/e2e/app.cy.ts
  e2e/src/e2e/header/header.cy.ts
  e2e/src/support/app.po.ts
  e2e/src/support/commands.ts
  e2e/src/support/e2e.ts
Due: eslint --cache --fix, prettier --cache --write

Update src/get-jest-projects.ts, src/main.server.ts and 2 more
  src/get-jest-projects.ts
  src/main.server.ts
  src/main.ts
  src/test-setup.ts
Due: eslint --cache --fix, prettier --cache --write

Update src/app/app.component.spec.ts, src/app/app.component.ts and 3 more
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.config.server.ts
  src/app/app.config.ts
  src/app/app.routes.ts
Due: eslint --cache --fix, prettier --cache --write

Update commitlint.config.ts, src/app/components/header/header.component.spec.ts and 1 more
  commitlint.config.ts
  src/app/components/header/header.component.spec.ts
  src/app/components/header/header.component.ts
Due: eslint --cache --fix, prettier --cache --write

Update src/app/app.component.ts, src/app/components/header/header.component.ts and 3 more
  src/app/app.component.ts
  src/app/components/header/header.component.ts
  src/app/interfaces/environment.ts
  src/app/interfaces/qr-options.ts
  src/app/interfaces/qrc-element.ts
Due: eslint --cache --fix, prettier --cache --write

Path conditions:
  stylelint --allow-empty-input --cache --fix: any of: *.css
  eslint --cache --fix: any of: *.{js,ts,mjs,html}
  prettier --cache --write: any of: *.{js,ts,mjs,html,css,md,json}
